* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calPosition{
  margin: 10% 40%;
}

.screenDisplay{
  width: 280px;
  height: 100px;
  background-color: rgb(224, 216, 216);
  margin-bottom: 10px;
  border: 2px solid black;
}

.calculatorOrder {
  display: flex;
  flex-direction: column;
  width: 330px;
  border: 2px solid black;
  padding: 25px;
  justify-content: center;
  background-color: cadetblue;
}

.calculatorOrderChild {
  display: flex;
  flex-direction: row;
}

button{
  border: 2px solid black;
  margin: 5px 5px 5px;
  padding: 25px;
  border-radius: 50%;
}

button:hover{
  background-color: bisque;
}